$dark-blue: rgb(0, 18, 32);
$blue: rgb(131, 141, 229);
$light-blue: rgb(183, 189, 244);
$yellow: rgb(232, 224, 119);
$dark-pink: rgb(107, 50, 87);
$pink: rgb(141, 103, 150);
$light-purple: rgb(169, 160, 213);